body{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: auto;
    padding: 50px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;
    border: 1px solid;
   
}
.con1{
  display: flex;
  flex-direction: row;
}
.cont1{
    width: 350px;
    height: 50px;
    background-color: red;
}
.cont2{
    width: 350px;
    height: 50px;
    background-color: rgb(11, 134, 63);
}
.con2{
    display: flex;
    flex-direction: row;
    height: 220px;
}
.cont3{
    background-color: blue;
    width: 100px;
    height: 220px;
}
.cont4{
    width: 500px;
    height: 220px;
   
   padding: 60px 50px 50px 180px;
}
.cont5{
    background-color: yellow;
    width: 100px;
    height: 220px;
}

table{
    
    border-collapse: collapse;
  border: 1px solid #000;
}
tr, td {
    border: 1px solid #000; 
    padding: 8px; 
    height: 0px;
  }
.con3{
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
}
.cont6{
    height: 70px;
    width: 90px;
    border: 1px solid;
}
.cont7{
    height: 70px;
    width: 90px;
    border: 1px solid;
}
.cont8{
    height: 70px;
    width: 90px;
    border: 1px solid;
}
.con4{
    height: 50px;
    text-align: center;
    background-color: orange;
}