body{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;

}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(177, 14, 68);
    color: aliceblue;
    width: 1000px;
}
footer{
    width: 1000px;
    height: 50px;
    text-align: center;
    background-color: rgb(131, 126, 126);
}
.menu{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 1000px;
     height: 40px;
     background-color: rgb(20, 145, 124);
     color: aliceblue;
}

.contenido{
    display: flex;
    flex-direction: row ;
    width: 1000px;
    height: 700px;
    
}
.cont1{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(209, 203, 203);
    height: 700px;
}
.div1{
    width: 280px;
    height: 150px;
    text-align: center;
    background-color: rgb(92, 88, 88);
    padding: 5px 5px 5px 5px;
}