.inicio{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.menu{
    height: 40px;
    width:auto;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 150px;
    justify-content: space-between;
}
.men{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}
.men button{
    width: 50px;
    text-align: center;
}
.titulo{
    height: 35px;
    width: auto;
    background-color: rgb(209, 164, 18);
    text-align: center;
}
.principal{
    width: auto;
    height: 200px;
}
.btn{
    background-color: brown;
    
}
.men1{
    display: flex;
    flex-direction: row;
}